$font-family:  "Montserrat", sans-serif;
$container-bg: linear-gradient(to bottom, #387a44, #5b9b4d, #83bc53, #b3dd57, #e8fd5a);
$main-bg: #CEDE65;

//color
$grey: rgb(78, 78, 78);
$white-y: #eef3cd;
$black: #353535; 
$green: #387a44;
$error: #bb3d5f